.rounded {
  border-radius: 24px;
  overflow: hidden;
}
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__row {
  flex-direction: row;
}

.flex__col {
  flex-direction: column;
}
